apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: application-prod
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: my-app-prod
    server: "https://kubernetes.default.svc"
  project: default
  source:
    path: environments/prod/
    repoURL: "git@github.com:Lucas-Andrade-pc/eks-argocd.git"
    targetRevision: main
    directory: 
      recurse: true
  syncPolicy:
    automated:
      allowEmpty: false
      prune: true
      selfHeal: true
    syncOptions:
    - Validate=true
    - CreateNamespace=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
  